@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BuiltTitling";
  src: url("/assets/fonts/builtTitlingBd.ttf");
}

.defaultLayout::-webkit-scrollbar {
  display: none !important; 
}
